In [10]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sb

data = {'type' : ['A', 'A', 'B', 'B'], 'value' : [10, 14, 12, 23]}
my_data = pd.DataFrame(data)

In [2]:
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [11]:
my_stat = pd.read_csv("https://stepik.org/media/attachments/course/4852/my_stat.csv")

In [63]:
subset_1 = my_stat.loc[0 : 9, ['V1', 'V3']]
subset_2 = my_stat.loc[~my_stat.index.isin([0, 4]), ['V2', 'V4']]

In [64]:
subset_2

       V2   V4
1     7.0  1.0
2    11.0  0.0
3    11.0  2.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]