In [3]:
from sklearn import tree
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [4]:
df_train = pd.read_csv('dogs_n_cats.csv')

In [5]:
df_train.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [6]:
X = df_train.drop(['Вид'], axis=1)
y = df_train['Вид']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [11]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [20]:
df_test = pd.read_json(r'dataset_209691_15.txt')

In [22]:
result = clf.predict(df_test)
pd.Series(result)[result == 'собачка'].count()

55

0